@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Sinhala:wght@500&family=Roboto:wght@100;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.headImg{
    background-image: url(../img/background.jpg);
    height: 30vh;
    background-size: cover;
}

.titleAndSlogan{
    background-color: #EBEBF5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Noto Serif Sinhala', serif;
    font-size: 61px;
    text-align: center;
}

h1 span{
    font-family: 'Noto Serif Sinhala', serif;
    font-size: 61px;
    color: #F77873;
}

.headerSlogan{
    text-align: center;
}

main article{
    display: flex;
    align-items: center;
    margin: 4.5vh;
}

article img{
    background-size: contain;
    width: 100%;
    height: auto;
}

article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
}

.txtContain{
    margin: 0 3vh;
}

.txtContain p{
    font-weight: 100;
    padding: 0 0 2vh 0;
}
.txtContain h2{
    font-weight: bold;
    padding: 1vh 0;
}

.footCard{
    background-color: #EBEBF7;
    width: 100%;
    padding: 1vh;
}

article i{
    padding: 3%;
}

.titleArticle{
    display: flex;
    justify-content: space-around; 
    /* flex-direction: row; */
}

.arrow{
    background-color: #7C808C;
    width: 24px;
    height: 24px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 2vh;

}

.arrow i {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
    background-color: #FF7575;
    color: white;
    font-weight: 100;
    padding: 4vh;
}


.buttonNone{
    display: none;
}

.none{
    display: none;
}